src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3f5d7624-aee6-4161-9426-721a592c7769" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="f81a3d48-5f6d-4718-b206-df517e33dfe7" >
		<http:listener doc:name="Listener" doc:id="6c1e6ac6-bc40-4fc5-a9e8-6e89f6bcd82f" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="9e9276ef-5ebd-4e17-a602-a163f3f18465" message="before transform message"/>
		<ee:transform doc:name="Transform Message" doc:id="e4d11df4-9e0d-4677-b33d-59a861ead0fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
				output application/json
				var unusedVar = "This is not used"
				---
				{
					"message":"Hello World!"
				}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" message="#[payload]"/>
	</flow>
</mule>
